{
  "env": {
    "browser": true,
    "jest": true,
    "es6": true,
    "cypress/globals": true
  },
  "plugins": ["import", "cypress"],
  "extends": ["airbnb", "prettier", "prettier/react"],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "parser": "babel-eslint",
  "rules": {
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }],
    "consistent-return": "off",
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "no-console": "off",
    "no-eval": "error",
    "import/first": "error",
    "no-param-reassign": "off"
  }
}
