*node_modules*
*jspm_packages*
*.env*
*.tgz

# Extension
extension/dist

# Website
website/public
website/.cache
website/.node_repl_history
website/.eslintcache
website/.npm
website/typings
website/build/Release
website/.lock-wscript
website/bower_components
website/.grunt
website/.nyc_output
website/coverage
website/lib-cov
website/pids
website/*.pid
website/*.seed
website/*.pid.lock
website/logs
website/*.log
website/npm-debug.log*
website/yarn-debug.log*
website/yarn-error.log*

# Mac
.DS_Store
.AppleDouble
.LSOverride

## Amplify
website/amplify-backup
website/amplify/\#current-cloud-backend
website/amplify/.config/local-*
website/amplify/logs
website/amplify/mock-data
website/amplify/backend/amplify-meta.json
website/amplify/backend/awscloudformation
website/amplify/backend/.temp
website/amplify/backend/**/*.zip
website/src/aws-exports.js
**/awsconfiguration.json
**/amplifyconfiguration.json
**/amplify-build-config.json
**/amplify-gradle-config.json
**/amplifytools.xcconfig
**/.secret-*
