*node_modules*
*.env*
*.pem*
ci/

# Extension
extension/dist
extension/webpack/reports/**/*
extension/cypress/screenshots
extension/cypress/videos
extension/github-cognito-openid-wrapper
## Amplify
extension/amplify-backup
extension/amplify/\#current-cloud-backend
extension/amplify/.config/local-*
extension/amplify/logs
extension/amplify/mock-data
extension/amplify/backend/amplify-meta.json
extension/amplify/backend/awscloudformation
extension/amplify/backend/.temp
extension/src/aws-exports.js
**/awsconfiguration.json
**/amplifyconfiguration.json
**/amplify-build-config.json
**/amplify-gradle-config.json
**/amplifytools.xcconfig
**/.secret-*

# Website
website/public
website/.cache

# Mac
.DS_Store
.AppleDouble
.LSOverride
