html {
  transition: margin 0.1s;
}

body {
  transition: width 0.1s;
  overflow-x: hidden; /* some elements overflowing off right side */
}

.gh-header-shadow {
  display: none !important;
}

.gh-header-sticky {
  display: none !important;
}
