html {
  /* transition: margin 0.1s ease; */
}

body {
  /* transition: width 0.1s ease; */
  overflow-x: hidden; /* some elements overflowing off right side */
}

.gh-header-shadow {
  display: none !important;
}

.gh-header-sticky {
  display: none !important;
}
